<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/h-ui/css/H-ui.min.css(path=${staticFormwork})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/h-ui.admin/css/H-ui.admin.css(path=${staticFormwork})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/h-ui.admin/css/style.css(path=${staticFormwork})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/lib/Hui-iconfont/1.0.8/iconfont.css(path=${staticFormwork})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/h-ui.admin/skin/default/skin.css(path=${staticFormwork})}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/h-ui.admin/css/style.css(path=${staticFormwork})}" />
    <link rel="stylesheet" type="text/css" th:href="@{/{path}/lib/bootstrap-datetimepicker/datetimepicker.css(path=${staticFormwork})}"  />
    <title>导航系统</title>
    <style>
        .head-left-text{display: table-cell;vertical-align:middle;height:50px;padding-top:5px;margin-left:8px;}
        .margin-bottom{margin-bottom:0 !important;margin-left:8px;color:#017BCE;font-family:MicrosoftYaHei;}
        .pagination > li {display: inline;}
        .pull-right {float: right !important;}
        .pagination > li:first-child > a, .pagination > li:first-child > span {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
        .pagination > .disabled > a{color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd;}
        .pagination > li > a, .pagination > li > span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
        #childModal{width:90%;margin:5% }
    </style>
</head>
<body>
     <nav class="breadcrumb">
         <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>导航管理 <span class="c-gray en">&gt;</span> 菜单管理 
     </nav>
     <div class="page-container">
         <div class="text-r" style="margin-bottom:15px;">
             <button type="button"  id="searchBtn" class="btn btn-primary radius" onclick="modaldemo_save(1,0)"><i class="Hui-iconfont">&#xe600;</i> 新增一级菜单</button>
         </div>
         <table class="table table-border table-bg table-bordered">
             <thead>
                 <tr>
                     <th width="100" class="text-c">序号</th>
                     <th class="text-c">一级菜单名称</th>
                     <th class="text-c">操作人</th>
                     <th class="text-c">操作时间</th>
                     <!--<th>排序</th>-->
                     <th class="text-c" width="100">操作</th>
                 </tr>
             </thead>
             <tbody id="dataDiv">
             </tbody>
         </table>
         <div style="margin-top: 20px;color:blue;" id="myul" class="pagination pull-right">
         </div>
     </div>
     <!-- 新增弹框 -->
     <div id="modal-demo-save" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content radius">
                 <div class="modal-header">
                     <h3 class="modal-title">新增菜单</h3>
                     <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                 </div>
                 <div class="modal-body">
                     <form action="" method="" class="form form-horizontal" id="demoform-1">
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">菜单名称：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <input type="hidden" class="input-text"  id="pid_save" >
                                 <input type="hidden" class="input-text"  id="serialNo_save" >
                                 <input type="text" class="input-text" autocomplete="off" placeholder="菜单名称" id="name_save">
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">菜单级别：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <input type="hidden" class="input-text"  id="icon_save" >
                                 <input type="text" class="input-text" autocomplete="off" placeholder="菜单级别" id="leve_save" disabled=true>
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">基准地址：</label>
                             <div class="formControls col-xs-8 col-sm-9" id="urlBasePathSave">
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">访问URL：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <!--<input type="hidden" class="input-text"  id="lid" >-->
                                 <input type="text" class="input-text" autocomplete="off" placeholder="访问URL" id="url_save">
                             </div>
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-primary" onclick="addMenu()">确定</button>
                     <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                 </div>
             </div>
         </div>
     </div>
     <!-- 修改弹框 -->
     <div id="modal-demo-edit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content radius">
                 <div class="modal-header">
                     <h3 class="modal-title">修改菜单</h3>
                     <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                 </div>
                 <div class="modal-body">
                     <form action="" method="" class="form form-horizontal" id="demoform-2">
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">菜单名称：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <input type="hidden" class="input-text"  id="pid_update" >
                                     <input type="hidden" class="input-text"  id="serialNo_update" >
                                         <input type="hidden" class="input-text"  id="id_update" >
                                 <input type="text" class="input-text" autocomplete="off" placeholder="菜单名称" id="name_update">
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">菜单级别：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <input type="hidden" class="input-text"  id="icon_update" >
                                 <input type="text" class="input-text" autocomplete="off" placeholder="菜单级别" id="leve_update" disabled=true>
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">基准地址：</label>
                             <div class="formControls col-xs-8 col-sm-9" id="urlBasePathUpdate">
                             </div>
                         </div>
                         <div class="row cl">
                             <label class="form-label col-xs-4 col-sm-3">访问URL：</label>
                             <div class="formControls col-xs-8 col-sm-9">
                                 <!--<input type="hidden" class="input-text"  id="lid" >-->
                                 <input type="text" class="input-text" autocomplete="off" placeholder="访问URL" id="url_update">
                             </div>
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-primary" onclick="updateMenu()">确定</button>
                     <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                 </div>
             </div>
         </div>
     </div>
     <!-- 二级菜单弹框 -->
     <div id="modal-demo-twomenu" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 1000">
         <div class="modal-dialog" id="childModal">
             <div class="modal-content radius">
                 <div class="page-container">
                     <table class="table table-border table-bg table-bordered">
                         <thead>
                             <tr>
                                 <th width="100" class="text-c">序号</th>
                                 <th class="text-c">二级菜单名称</th>
                                 <th class="text-c">操作人</th>
                                 <th class="text-c">操作时间</th>
                                 <!--<th>排序</th>-->
                                 <th class="text-c" width="150">操作</th>
                             </tr>
                         </thead>
                         <tbody id="dataDiv-two">
                         </tbody>
                     </table>
                     <div style="margin-top: 20px;color:blue;" id="myul-two" class="pagination pull-right">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                 </div>
             </div>
         </div>
     </div>
     <!--_footer 作为公共模版分离出去-->
     <script type="text/javascript" th:src="@{/{path}/lib/jquery/1.9.1/jquery.min.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/lib/layer/2.4/layer.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/h-ui/js/H-ui.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/h-ui.admin/js/H-ui.admin.page.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/js/tool/vue.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/lib/jquery.contextmenu/jquery.contextmenu.r2.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/lib/layer/2.1/layer.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/lib/laypage/1.2/laypage.js(path=${staticFormwork})}"></script>
     <script type="text/javascript" th:src="@{/{path}/lib/layer/2.1/extend/layer.ext.js(path=${staticFormwork})}"></script>
     <!--/_footer /作为公共模版分离出去-->
     <script type="text/javascript">
            $(function(){
                menuList()
            })
            //新增弹框
            function modaldemo_save(leve, pid){
                var leve = leve;
                var pid = pid
                if (pid != 0) {
                    $("#pid_save").val(pid)
                }
                $("#leve_save").val(leve)
                $.ajax({
                    async: 'true',
                    type: 'get',
                    url: 'menus/oneleve',
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status == 0) {
                            var urlBasePaths = data.objMap.objects;
                            var html = '<select id="urlLidSave"><option value="0">--请选择--</option>'
                            for (key in urlBasePaths) {
                                html += '<option value="'+ urlBasePaths[key].lid +'" >'+ urlBasePaths[key].name + '&nbsp;&nbsp;' + urlBasePaths[key].totalBasePath +'</option>';
                            }
                            html += '</select>'
                            $('#urlBasePathSave').html(html);
                        } else {
                            alert(data.message);
                            return;
                        }
                    },
                    error: function (data) {
                        console.log(data)
                    }
                })
                $("#modal-demo-save").modal("show")
            }
            //修改弹框
            function modaldemo_edit(leve, id, pid){
                var leve = leve;
                var pid = pid
                if (pid != 0) {
                    $("#pid_update").val(pid)
                }
                $("#leve_update").val(leve)
                $("#id_update").val(id);
                $.ajax({
                    async: 'true',
                    type: 'get',
                    url: 'menus/' + id,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status == 0) {
                            $("#name_update").val(data.objMap.objects.name)
                            $("#serialNo_update").val(data.objMap.objects.serialNo)
                            $("#url_update").val(data.objMap.objects.url)
                            var urlBasePaths = data.objMap.objects.urlBasePaths;
                            var html = '<select id="urlLidUpdate">'
                            html += '<option selected value="0">--请选择--</option>'
                            for (key in urlBasePaths) {
                                if (urlBasePaths[key].lid == data.objMap.objects.urlLid) {
                                    html += '<option selected value="'+ urlBasePaths[key].lid +'" >'+ urlBasePaths[key].name + '&nbsp;&nbsp;' + urlBasePaths[key].totalBasePath +'</option>';
                                }else if (data.objMap.objects.urlLid == null || data.objMap.objects.urlLid == "") {
                                    html += '<option selected value="0">--请选择--</option>'
                                }else{
                                    html += '<option value="'+ urlBasePaths[key].lid +'" >'+ urlBasePaths[key].name + '&nbsp;&nbsp;' + urlBasePaths[key].totalBasePath +'</option>';
                                }
                            }
                            html += '</select>'
                            $('#urlBasePathUpdate').html(html);
                        } else {
                            alert(data.message);
                            return;
                        }
                    },
                    error: function (data) {
                        console.log(data)
                    }
                })
                $("#modal-demo-edit").modal("show")
            }
            //二级弹框
            function modaldemo_twomenu(pid){
                var pid = pid;
                $.ajax({
                    async:true,
                    type:'get',
                    url:'menus?pid=' + pid ,
                    contentType:'application/x-www-form-urlencoded;charset=utf-8',
                    success:function(data){
                        if(data.status ==0){
                            var menus = data.objMap.objects;
                        }else{
                            alert(data.message);
                            return;
                        }
                        var html = ''
                        for(key in menus){
                            var no = parseInt(key) + 1;
                            html += '<tr><td class="text-c">'+no+'</td><td class="text-c">'+menus[key].name+'</td><td class="text-c">'+menus[key].modifier+'</td><td class="text-c">'+menus[key].modified+'</td>'+
                                '<td class="text-c"><a title="" href="javascript:;" onclick="modaldemo_edit(2,\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;margin-right:10px;font-size:16px;"><i class="Hui-iconfont">&#xe60c;</i></a>'+
                                '<a title="" href="javascript:;" onclick="deleteMenu(\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;font-size:18px;"><i class="Hui-iconfont">&#xe609;</i></a></td></tr>'
                        }
                        $('#dataDiv-two').html(html);
                    },
                    error:function(data){
                    	alert(data.message)
                    }
                })
                $("#modal-demo-twomenu").modal("show")
            }
            //查询
            function menuList(pid){
                var obj = {
                    pid:pid
                }
                $.ajax({
                    async:true,
                    type:'get',
                    url:'menus',
                    data:obj,
                    dataType:'json',
                    contentType:'application/x-www-form-urlencoded;charset=utf-8',
                    success:function(data){
                        if(data.status ==0){
                            var menus = data.objMap.objects;
                            var html = ''
                            for(key in menus){
                                var no = parseInt(key) + 1;
                                html += '<tr><td class="text-c">'+no+'</td><td class="text-c">'+menus[key].name+'</td><td class="text-c">'+menus[key].modifier+'</td><td class="text-c">'+menus[key].modified+'</td>'+
                                    '<td class="text-c"><a title="" href="javascript:;" onclick="modaldemo_save(2,\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;margin-right:10px;font-size:16px;"><i class="Hui-iconfont">&#xe610;</i></a>'+
                                    '<a title="" href="javascript:;" onclick="modaldemo_edit(1,\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;margin-right:10px;font-size:16px"><i class="Hui-iconfont">&#xe60c;</i></a>'+
                                    '<a title="" href="javascript:;" onclick="modaldemo_twomenu(\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;margin-right:10px;font-size:16px;"><i class="Hui-iconfont">&#xe72d;</i></a>'+
                                    '<a title="" href="javascript:;" onclick="deleteMenu(\'' + menus[key].id +'\')" style="text-decoration:none;color:#666;font-size:18px;"><i class="Hui-iconfont">&#xe609;</i></a></td></tr>'
                            }
                            $('#dataDiv').html(html);
                        }else{
                            alert(data.message);
                            return;
                        }
                    },
                    error:function(data){
                    	alert(data.message)
                    }
                })
            };
            //新增
            function addMenu() {
                if ($.trim($('#name_save').val()) == null || $.trim($('#name_save').val()) == "") {
                    alert("名称不能为空")
                    return false;
                }

                var dataObj = {
                    	pid: $('#pid_save').val(),
                    	name: $('#name_save').val(),
                    	leve: $('#leve_save').val(),
                        urlLid:$('#urlLidSave').val(),
                    	url:$('#url_save').val()
            		};
                $.ajax({
                    async: 'true',
                    type: 'post',
                    url: 'menus',
                    data: JSON.stringify(dataObj),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status == 0) {
                            alert("新增成功")
                            $("#modal-demo").modal("hide")
                            location.replace(location.href);
                        } else {
                            alert(data.message);
                            return;
                        }
                    },
                    error: function (data) {
                    	alert(data.message)
                    }
                })
            }

            //修改
            function updateMenu() {
                if ($.trim($('#name_update').val()) == null || $.trim($('#name_update').val()) == "") {
                    alert("名称不能为空")
                    return false;
                }

                var dataObj = {
                    id:$('#id_update').val(),
                    pid: $('#pid_update').val(),
                    name: $('#name_update').val(),
                    isOtherProgram: $('[name="demo-radio1"]:checked').val(),
                    url:$('#url_update').val(),
                    leve:$('#leve_update').val(),
                    urlLid:$('#urlLidUpdate').val(),
                    serialNo:$('#serialNo_update').val()
                };
                $.ajax({
                    async: 'true',
                    type: 'put',
                    url: 'menus',
                    data: JSON.stringify(dataObj),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.status == 0) {
                            alert("修改成功")
                            $("#modal-demo").modal("hide")
                            location.replace(location.href);
                        } else {
                            alert(data.message);
                            return;
                        }
                    },
                    error: function (data) {
                    	alert(data.message)
                    }
                })
            }
            //删除菜单
            function deleteMenu(id) {
                if(confirm("您确定删除此条信息吗？")) {
                    $.ajax({
                        async: 'true',
                        type: 'delete',
                        url: 'menus/' + id,
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        success: function (data) {
                            if (data.status == 0) {
                                alert("删除成功")
                                location.replace(location.href);
                            } else {
                                alert(data.message);
                                return;
                            }
                        },
                        error: function (data) {
                            alert(data.message)
                        }
                    })
                }else {
                    return;
                }
            }
        </script>
    </body>
</html>